@* @model SofTk_TechOil_Front.Models.Login *@
@model SofTk_TechOil_Front.ViewModels.HomeViewModels
@{ 
    ViewData["Title"] = "Home Page";
}

@Html.HiddenFor(x=> x.Token);

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Bienvenidos a TechOil</h1>
</div>

<script src="~/js/Home/Home.js"> </script>